<div class="row">
    <div class="col-4">
        <img class="w-50"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
            alt="">
    </div>
    <div class="col-8">
        <h1>Angular</h1>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img class="w-50"
            src="https://www.gstatic.com/devrel-devsite/prod/v0cb51633d618abe46a66cb213829eebf08ffc674824d203cafddde748d2d407e/firebase/images/touchicon-180.png"
            alt="">
    </div>
    <div class="col-8">
        <h1>Firebase</h1>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <img class="w-50"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png"
            alt="">
    </div>
    <div class="col-8">
        <h1>Bootstrap</h1>
    </div>
</div>