<img src="../../../../assets/img/banner.jpg" class="w-100" alt="">

<form [formGroup]="this.formService.formGroup" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
        <input formControlName="firstName" type="text" class="form-control" required id="floatingInput">
        <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="familyName" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">familyName</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="middleName" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">middleName</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="presentAddress" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">presentAddress</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="contactNumber" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">contactNumber</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="TIN" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">TIN</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="nationality" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">nationality</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="sex" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">sex</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="birthday" type="date" name='date_of_birth'
            style="width: 100%;background: rgb(255,255,255);border: 1px solid #d9d9d9;border-radius: 2px;margin-bottom: 8px; height: 25px;">
    </div>
    <div class="form-floating mb-3">
        <input formControlName="height" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">height</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="weight" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">weight</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="licenseNumber" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">licenseNumber</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="status" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">status</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="birthplace" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">birthplace</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="fatherName" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">fatherName</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="motherName" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">motherName</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="spouseName" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">spouseName</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="employersBusinessName" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">employersBusinessName</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="employerTelNo" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">employerTelNo</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="employerAddress" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">employerAddress</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="emergencyPerson" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">emergencyPerson</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="emergencyAddress" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">emergencyAddress</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="emergencyContact" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">emergencyContact</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="agencyCode" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">agencyCode</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="issueDate" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">issueDate</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="expiryDate" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">expiryDate</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="lca" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">lca</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="drivingSkill" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">drivingSkill</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="EA" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">EA</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="bloodType" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">bloodType</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="organDonor" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">organDonor</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="TOA" type="text" class="form-control" required id="floatingPassword">
        <label for="floatingPassword">TOA</label>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="alert != ''">
        {{alert}}
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!this.formService.formGroup.valid">Submit</button>
</form>