<table class="table  row-border hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of Users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.firstName }} {{ user.familyName }}</td>
            <td>{{ user.formStatus }}</td>
            <td>
                <button (click)="this.setUser(user)" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    View
                </button>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Family Name: {{ this.ltoForm.formData.familyName }}</p>
                                <p>firstName: {{ this.ltoForm.formData.firstName }}</p>
                                <p>middleName: {{ this.ltoForm.formData.middleName }}</p>
                                <p>presentAddress: {{ this.ltoForm.formData.presentAddress }}</p>
                                <p>contactNumber: {{ this.ltoForm.formData.contactNumber }}</p>
                                <p>TIN: {{ this.ltoForm.formData.TIN }}</p>
                                <p>nationality: {{ this.ltoForm.formData.nationality }}</p>
                                <p>sex: {{ this.ltoForm.formData.sex }}</p>
                                <p>height: {{ this.ltoForm.formData.height }}</p>
                                <p>weight: {{ this.ltoForm.formData.weight }}</p>
                                <p>licenseNumber: {{ this.ltoForm.formData.licenseNumber }}</p>
                                <p>fatherName: {{ this.ltoForm.formData.fatherName }}</p>
                                <p>motherName: {{ this.ltoForm.formData.motherName }}</p>
                                <p>spouseName: {{ this.ltoForm.formData.spouseName }}</p>
                                <p>employersBusinessName: {{ this.ltoForm.formData.employersBusinessName }}</p>
                                <p>employerTelNo: {{ this.ltoForm.formData.employerTelNo }}</p>
                                <p>employerAddress: {{ this.ltoForm.formData.employerAddress }}</p>
                                <p>emergencyPerson: {{ this.ltoForm.formData.emergencyPerson }}</p>
                                <p>emergencyAddress: {{ this.ltoForm.formData.emergencyAddress }}</p>
                                <p>emergencyContact: {{ this.ltoForm.formData.emergencyContact }}</p>
                                <p>agencyCode: {{ this.ltoForm.formData.agencyCode }}</p>
                                <p>issueDate: {{ this.ltoForm.formData.issueDate }}</p>
                                <p>expiryDate: {{ this.ltoForm.formData.expiryDate }}</p>
                                <p>lca: {{ this.ltoForm.formData.lca }}</p>
                                <p>drivingSkill: {{ this.ltoForm.formData.drivingSkill }}</p>
                                <p>EA: {{ this.ltoForm.formData.EA }}</p>
                                <p>bloodType: {{ this.ltoForm.formData.bloodType }}</p>
                                <p>organDonor: {{ this.ltoForm.formData.organDonor }}</p>
                                <p>organDonated: {{ this.ltoForm.formData.organDonated }}</p>
                                <p>eyesColor: {{ this.ltoForm.formData.eyesColor }}</p>
                                <p>TOA: {{ this.ltoForm.formData.TOA }}</p>
                                <p>vehicleCatExist: {{ this.ltoForm.formData.vehicleCatExist }}</p>
                                <p>vehicleCatApply: {{ this.ltoForm.formData.vehicleCatApply }}</p>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                <button (click)="this.userService.approve(this.ltoForm.formData.id)" type="button"
                                    class="btn btn-secondary" data-bs-dismiss="modal">Approve</button>
                                <button (click)="this.userService.decline(this.ltoForm.formData.id)" type="button"
                                    class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>